<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="shortcut icon" href="img/favicon@48x48.png">

    <meta name="browsermode" content="application">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="full-screen" content="yes">
    <meta name="google" value="notranslate">
    <meta name="layoutmode" content="fitscreen">
    <meta name="x5-page-mode" content="app">
    <meta name="x5-fullscreen" content="true">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <title>Kirin Hub</title>
</head>
<body>
    <div id="root"></div>
</body>
</html>